@import "../../styles/variables.scss";

.menu {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  font-family: $ff-primary;
}

.logo {
  display: flex;

  align-items: center;
  & .img {
    height: 6rem;
  }
  p {
    font-size: $fs-title1;
    letter-spacing: 0.5rem;
    color: $fc-primary-green;
  }
}

.navigation {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  margin-right: 15rem;

  & a {
    color: $fc-red;
    font-size: $fs-nav;
    text-decoration: none; /* no underline */
  }
}
