@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&display=swap");
@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
  font-family: $ff-primary;
}

.contentContainer {
  width: 100%;
}
