@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;600&display=swap");

$ff-primary: "Bebas Neue", sans-serif;
$ff-secondary: sans-serif;

//font-color
$fc-primary-green: #386841;
$fc-green: #6a994e;
$fc-light-green: #a7c957;
$fc-light: #f2e8cf;
$fc-red: #bc4749;
$fc-light-grey: #74798c;
$black: #020203;

//font-size
$fs-title1: 72px;
$fs-nav: 28px;
$fs-title2: 20px;
$fs-sub: 18px;
$fs-p: 14px;

//responsive
$layout-breakpoint-small: 1400px;
